.no-js #loader {
    display: none;
}

.js #loader {
    display: flex;
    position: absolute;
    top: 0;
}

.preloader {
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url('images/preloader.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

body {
    background-image: url("Theater Background.jpeg");
    background-position: bottom;
    background-size: cover;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /*color: #aaa;*/
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin-top: 2em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.loading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*!* Setting the Style for Each displayed div/letter in the loading message*!*/
.loading > div {
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #22ad7c;
    animation-name: bounce;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}

/* Delaying each letter by 0.1 second behind the previous letter to create the "wave" appearance */
.loading div:nth-child(2) {
    animation-delay: .1s;
}

.loading div:nth-child(3) {
    animation-delay: .2s;
}

.loading div:nth-child(4) {
    animation-delay: .3s;
}

.loading div:nth-child(5) {
    animation-delay: .4s;
}

.loading div:nth-child(6) {
    animation-delay: .5s;
}

.loading div:nth-child(7) {
    animation-delay: .6s;
}

.loading div:nth-child(8) {
    animation-delay: .7s;
}

.loading div:nth-child(9) {
    animation-delay: .8s;
}

.loading div:nth-child(10) {
    animation-delay: .9s;
}

.loading div:nth-child(11) {
    animation-delay: 1s;
}

.loading div:nth-child(12) {
    animation-delay: 1.1s;
}

.loading div:nth-child(13) {
    animation-delay: 1.2s;
}

.loading div:nth-child(14) {
    animation-delay: 1.3s;
}

.loading div:nth-child(15) {
    animation-delay: 1.4s;
}

.loading div:nth-child(16) {
    animation-delay: 1.5s;
}

.loading div:nth-child(17) {
    animation-delay: 1.6s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px)
    }
    40% {
        transform: translateY(-40px);
    }
    80%,
    100% {
        transform: translateY(0px);
    }
}

.card {
    width: 100%;
    height: 1100px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    letter-spacing: 2px;
}

.card-body {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;

}

.card-columns2 {
    display: flex;
    flex-direction: row;
    width: 100%
}